<!DOCTYPE html>
<html>
  <head>
    <title>Приложение для кадрового учета | Home</title>
  </head>
  <body>
    <h1>Приложение для кадрового учета</h1>
    <p>
      Стартовая страница приложения кадрового учета в сети магазинов "Ева"
      <a href="http://www.eva.dp.ua/">Сеть магазинов "Ева"</a>
    </p>
  </body>
</html>