<!DOCTYPE html>
<html>
  <head>
    <title>Приложение для кадрового учета | Home</title>
  </head>
  <body>
    <div class="center hero-unit">
    <h1>Приложение для кадрового учета</h1>
    
    <h2>
       Стартовая страница приложения кадрового учета в сети магазинов "Ева"
      <a href="http://www.eva.dp.ua/">Сеть магазинов "Ева"</a>
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

	<img alt="Rails" src="http://orezont.com.ua/upload/medialibrary/9d7/%D0%B5%D0%B2%D0%B0%20%D0%BB%D0%BE%D0%B3%D0%BE.jpg" />
  </body>
</html>

